 /* 全局样式 */
 html{
    font-size:100px;
}
*{
    margin:0;
    padding:0;
}
body{
    background: #edeef0;
    padding-bottom:0.6rem;
}
/* banner */
.swiper-container {
    width: 100%;
    height:3.6rem;
    background:#fff;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination{
    font-size:0.13rem;
    width:0.55rem;
    left:3rem;
    background: #bdbdbd;
    border-radius: 0.3rem;
    color:#fff;
    height:0.3rem;
    line-height: 0.3rem;
}
/* .swiper-pagination-fraction {
    width:95% !important;
} */
.swiper-slide img{
    width:100%;
    height:100%;
}

.title{
    font-size:0.15rem;
    padding:0.15rem 0.15rem 0.15rem 0.15rem;
    background: #fff;
}
.title p{
    margin-bottom:0.05rem;
}
.title p:nth-child(1){
    font-weight: bold;
}
.title p:nth-child(2){
    color:#a1a1a1;
}
.title p:nth-child(3){
    color:#a1a1a1;
    font-size:0.13rem;
}
.title p:nth-child(4){
    font-size:0.13rem;
    text-align: right;
}
.benefit{
    height:0.5rem;
    margin-top:0.02rem;
    font-size:0.2rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
    background: #fff;
}
.benefit-l{
    display:flex;
    align-items:center;
    font-size:0.12rem;

}
.benefit-l img{
    width: 0.15rem;
    height: 0.15rem;
    margin-right:0.01rem;
}
.benefit-ll{
    display:flex;
    align-items: center;
    margin-left:0.2rem;
    color:#a1a1a1;
}
.benefit-r{
    margin-right:0.28rem;
    display: block;
}
.benefit-r img{
    width:0.1rem;
    height:0.13rem;
}
.benefit-lx{
    margin-left:0.2rem;
    font-size:0.13rem;
}
